@charset "UTF-8";
html[_ngcontent-qdo-3] {
  box-sizing: border-box; }

*[_ngcontent-qdo-3], *[_ngcontent-qdo-3]::after, *[_ngcontent-qdo-3]::before {
  box-sizing: inherit; }

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeInUp {
  from {
    -moz-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -moz-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    -moz-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    -o-transform: translateY(0.5em);
    transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

body[_ngcontent-qdo-3] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

label[_ngcontent-qdo-3] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

a[_ngcontent-qdo-3]:focus {
  box-shadow: 0 0 3px rgba(50, 58, 69, 0.25), 0 0 7px rgba(50, 58, 69, 0.25);
  outline: 0; }

h1[_ngcontent-qdo-3], h2[_ngcontent-qdo-3], h3[_ngcontent-qdo-3], h4[_ngcontent-qdo-3], h5[_ngcontent-qdo-3]   h6[_ngcontent-qdo-3] {
  color: #323a45;
  font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500; }
  h1[_ngcontent-qdo-3]:first-child, h2[_ngcontent-qdo-3]:first-child, h3[_ngcontent-qdo-3]:first-child, h4[_ngcontent-qdo-3]:first-child, h5[_ngcontent-qdo-3]   h6[_ngcontent-qdo-3]:first-child {
    margin-top: 0; }

p[_ngcontent-qdo-3] {
  color: #5b616b; }
  @media screen and (min-width: 40em) {
    p[_ngcontent-qdo-3] {
      font-size: 1.1em; } }

.usa-button[_ngcontent-qdo-3], .usa-button.usa-button-big[_ngcontent-qdo-3], .usa-button-primary.usa-button-big[_ngcontent-qdo-3], .usa-button[_ngcontent-qdo-3]:visited.usa-button-big, .usa-button-primary[_ngcontent-qdo-3]:visited.usa-button-big, button.usa-button-big[_ngcontent-qdo-3], [type="button"].usa-button-big[_ngcontent-qdo-3], [type="submit"].usa-button-big[_ngcontent-qdo-3], [type="reset"].usa-button-big[_ngcontent-qdo-3], [type="image"].usa-button-big[_ngcontent-qdo-3] {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .usa-button[_ngcontent-qdo-3]:hover, .usa-button.usa-button-big[_ngcontent-qdo-3]:hover, .usa-button-primary.usa-button-big[_ngcontent-qdo-3]:hover, .usa-button[_ngcontent-qdo-3]:visited.usa-button-big:hover, .usa-button-primary[_ngcontent-qdo-3]:visited.usa-button-big:hover, button.usa-button-big[_ngcontent-qdo-3]:hover, [type="button"].usa-button-big[_ngcontent-qdo-3]:hover, [type="submit"].usa-button-big[_ngcontent-qdo-3]:hover, [type="reset"].usa-button-big[_ngcontent-qdo-3]:hover, [type="image"].usa-button-big[_ngcontent-qdo-3]:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px); }

.about[_ngcontent-qdo-3]   li[_ngcontent-qdo-3] {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  padding: 0.5em; }
  @media screen and (min-width: 40em) {
    .about[_ngcontent-qdo-3]   li[_ngcontent-qdo-3] {
      padding: 1em; } }

body[_ngcontent-qdo-3] {
  background-color: #ffffff; }

.about[_ngcontent-qdo-3] {
  border-bottom: 1px solid #f1f1f1;
  padding: 2em 0 1em; }
  @media screen and (min-width: 40em) {
    .about[_ngcontent-qdo-3] {
      padding: 4em 0; } }
  .about[_ngcontent-qdo-3]   header[_ngcontent-qdo-3] {
    margin: 0 auto;
    text-align: center; }
    @media screen and (min-width: 30.0625em) {
      .about[_ngcontent-qdo-3]   header[_ngcontent-qdo-3] {
        max-width: 43em; } }
    .about[_ngcontent-qdo-3]   header[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3] {
      font-size: 1.75em;
      margin: 0 auto;
      max-width: 17em; }
      @media screen and (min-width: 30.0625em) {
        .about[_ngcontent-qdo-3]   header[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3] {
          font-size: 2em; } }
      @media screen and (min-width: 40em) {
        .about[_ngcontent-qdo-3]   header[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3] {
          font-size: 4rem; } }
    .about[_ngcontent-qdo-3]   header[_ngcontent-qdo-3]   p[_ngcontent-qdo-3] {
      font-size: 1em; }
      @media screen and (min-width: 40em) {
        .about[_ngcontent-qdo-3]   header[_ngcontent-qdo-3]   p[_ngcontent-qdo-3] {
          font-size: 1.2em; } }
  .about[_ngcontent-qdo-3]   .usa-button[_ngcontent-qdo-3] {
    background-color: #42519F; }
    .about[_ngcontent-qdo-3]   .usa-button[_ngcontent-qdo-3]:hover {
      background-color: #333f7b; }

.about-actions[_ngcontent-qdo-3] {
  margin-top: 2em;
  padding: 0; }
  @media screen and (min-width: 40em) {
    .about-actions[_ngcontent-qdo-3] {
      margin-top: 4em; } }
  .about-actions[_ngcontent-qdo-3]   h2[_ngcontent-qdo-3] {
    font-size: 1.3em;
    margin-top: 0; }
  .about-actions[_ngcontent-qdo-3]   li[_ngcontent-qdo-3] {
    margin-bottom: 2em;
    padding-left: 3em;
    position: relative; }
    .about-actions[_ngcontent-qdo-3]   li[_ngcontent-qdo-3]   .icon[_ngcontent-qdo-3] {
      left: 1em;
      position: absolute;
      top: 1em; }
    .about-actions[_ngcontent-qdo-3]   li[_ngcontent-qdo-3]   i[_ngcontent-qdo-3] {
      color: #23c0ba;
      font-size: 1.2em; }
  .about-actions[_ngcontent-qdo-3]   p[_ngcontent-qdo-3] {
    font-size: 0.95em; }

.banner[_ngcontent-qdo-3] {
  background-color: #005289;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 0 9em;
  position: relative; }
  @media screen and (min-width: 30.0625em) {
    .banner[_ngcontent-qdo-3] {
      padding: 4em 0 8em; } }
  .banner[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3] {
    color: #ffffff;
    font-size: 2em;
    margin: 0 0 0.25em; }
    @media screen and (min-width: 30.0625em) {
      .banner[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3] {
        font-size: 2.8em; } }
    @media screen and (min-width: 40em) {
      .banner[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3] {
        font-size: 3.2em; } }
  .banner[_ngcontent-qdo-3]   p[_ngcontent-qdo-3] {
    color: #d0d6df;
    font-size: 1em;
    margin-top: 0; }
    @media screen and (min-width: 30.0625em) {
      .banner[_ngcontent-qdo-3]   p[_ngcontent-qdo-3] {
        font-size: 1.2em; } }
    @media screen and (min-width: 40em) {
      .banner[_ngcontent-qdo-3]   p[_ngcontent-qdo-3] {
        font-size: 1.4em; } }
  .banner[_ngcontent-qdo-3]   .usa-button[_ngcontent-qdo-3] {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    margin: 0 auto;
    max-width: 12em; }
    .banner[_ngcontent-qdo-3]   .usa-button[_ngcontent-qdo-3]:hover {
      background-color: #004370; }
    @media screen and (min-width: 30.0625em) {
      .banner[_ngcontent-qdo-3]   .usa-button[_ngcontent-qdo-3] {
        font-size: 1.2em;
        max-width: none; } }

.banner-container[_ngcontent-qdo-3] {
  background-color: #005289;
  margin: 0 auto;
  max-width: 30em;
  text-align: center; }

.press[_ngcontent-qdo-3] {
  padding: 4em 0; }
  .press[_ngcontent-qdo-3]   h2[_ngcontent-qdo-3] {
    color: #aeb0b5;
    font-size: 1em;
    margin-bottom: 2em;
    text-align: center;
    text-transform: uppercase; }

.press-container[_ngcontent-qdo-3] {
  margin: 0 auto;
  max-width: 43em; }
  .press-container[_ngcontent-qdo-3]::after {
    clear: both;
    content: "";
    display: block; }

.press-links[_ngcontent-qdo-3] {
  margin-top: 2em;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .press-links[_ngcontent-qdo-3] {
      margin-top: 0;
      text-align: right; } }
  .press-links[_ngcontent-qdo-3]   img[_ngcontent-qdo-3] {
    max-width: 7.5em; }
  .press-links[_ngcontent-qdo-3]   li[_ngcontent-qdo-3] {
    margin-bottom: 0.5em; }

.quote-large[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3] {
  color: #485568;
  font-size: 1.75em;
  margin-bottom: 0.2em;
  padding-left: 0.75em;
  position: relative; }
  @media screen and (min-width: 40em) {
    .quote-large[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3] {
      font-size: 2.5em; } }
  .quote-large[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3]::before {
    color: #23c0ba;
    content: "“";
    font-size: 1.75em;
    left: 0em;
    position: absolute;
    top: -0.275em; }
    @media screen and (min-width: 40em) {
      .quote-large[_ngcontent-qdo-3]   h1[_ngcontent-qdo-3]::before {
        font-size: 2.5em; } }

.quote-large[_ngcontent-qdo-3]   .attribution[_ngcontent-qdo-3] {
  border-top: 1px solid #c9cacd;
  display: inline-block;
  margin-left: 1.3em;
  padding-top: 0.75em; }
  @media screen and (min-width: 40em) {
    .quote-large[_ngcontent-qdo-3]   .attribution[_ngcontent-qdo-3] {
      margin-left: 2em; } }
  .quote-large[_ngcontent-qdo-3]   .attribution[_ngcontent-qdo-3]   img[_ngcontent-qdo-3] {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
    max-width: 5em;
    opacity: 0.5; }
    .quote-large[_ngcontent-qdo-3]   .attribution[_ngcontent-qdo-3]   img[_ngcontent-qdo-3]:hover {
      opacity: 1; }