html[_ngcontent-aeb-42] {
  box-sizing: border-box; }

*[_ngcontent-aeb-42], *[_ngcontent-aeb-42]::after, *[_ngcontent-aeb-42]::before {
  box-sizing: inherit; }

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeInUp {
  from {
    -moz-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -moz-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    -moz-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    -o-transform: translateY(0.5em);
    transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

body[_ngcontent-aeb-42] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

label[_ngcontent-aeb-42] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

a[_ngcontent-aeb-42]:focus {
  box-shadow: 0 0 3px rgba(50, 58, 69, 0.25), 0 0 7px rgba(50, 58, 69, 0.25);
  outline: 0; }

h1[_ngcontent-aeb-42], h2[_ngcontent-aeb-42], h3[_ngcontent-aeb-42], h4[_ngcontent-aeb-42], h5
h6[_ngcontent-aeb-42] {
  color: #323a45;
  font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500; }
  h1[_ngcontent-aeb-42]:first-child, h2[_ngcontent-aeb-42]:first-child, h3[_ngcontent-aeb-42]:first-child, h4[_ngcontent-aeb-42]:first-child, h5
h6[_ngcontent-aeb-42]:first-child {
    margin-top: 0; }

p[_ngcontent-aeb-42] {
  color: #5b616b; }
  @media screen and (min-width: 40em) {
    p[_ngcontent-aeb-42] {
      font-size: 1.1em; } }

.usa-button[_ngcontent-aeb-42], .usa-button.usa-button-big[_ngcontent-aeb-42], .usa-button-primary.usa-button-big[_ngcontent-aeb-42], .usa-button[_ngcontent-aeb-42]:visited.usa-button-big, .usa-button-primary[_ngcontent-aeb-42]:visited.usa-button-big, button.usa-button-big[_ngcontent-aeb-42], [type="button"].usa-button-big[_ngcontent-aeb-42], [type="submit"].usa-button-big[_ngcontent-aeb-42], [type="reset"].usa-button-big[_ngcontent-aeb-42], [type="image"].usa-button-big[_ngcontent-aeb-42] {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .usa-button[_ngcontent-aeb-42]:hover, .usa-button.usa-button-big[_ngcontent-aeb-42]:hover, .usa-button-primary.usa-button-big[_ngcontent-aeb-42]:hover, .usa-button[_ngcontent-aeb-42]:visited.usa-button-big:hover, .usa-button-primary[_ngcontent-aeb-42]:visited.usa-button-big:hover, button.usa-button-big[_ngcontent-aeb-42]:hover, [type="button"].usa-button-big[_ngcontent-aeb-42]:hover, [type="submit"].usa-button-big[_ngcontent-aeb-42]:hover, [type="reset"].usa-button-big[_ngcontent-aeb-42]:hover, [type="image"].usa-button-big[_ngcontent-aeb-42]:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px); }

.repo-container[_ngcontent-aeb-42] {
  background-color: #ffffff;
  padding: 1em 1em 2em; }
  .repo-container[_ngcontent-aeb-42]::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 40em) {
    .repo-container[_ngcontent-aeb-42] {
      padding: 2em 2em 3em; } }
  .repo-container[_ngcontent-aeb-42]   code[_ngcontent-aeb-42] {
    background-color: #485568;
    border-radius: 3px;
    color: #23c0ba;
    font-size: 0.9em;
    padding: 2px 3px; }
  .repo-container[_ngcontent-aeb-42]   h2[_ngcontent-aeb-42] {
    font-size: 1em; }
  .repo-container[_ngcontent-aeb-42]   header[_ngcontent-aeb-42] {
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative; }
    .repo-container[_ngcontent-aeb-42]   header[_ngcontent-aeb-42]::after {
      clear: both;
      content: "";
      display: block; }
  .repo-container[_ngcontent-aeb-42]   .usa-button[_ngcontent-aeb-42] {
    background-color: #21b3ad; }

.repo-actions[_ngcontent-aeb-42]   li[_ngcontent-aeb-42] {
  display: inline-block; }
  .repo-actions[_ngcontent-aeb-42]   li[_ngcontent-aeb-42]:last-child   .usa-button[_ngcontent-aeb-42] {
    background-color: #42519F; }

.repo-features-list[_ngcontent-aeb-42] {
  margin-bottom: 3em; }
  .repo-features-list[_ngcontent-aeb-42]::after {
    clear: both;
    content: "";
    display: block; }
  .repo-features-list[_ngcontent-aeb-42]   a[_ngcontent-aeb-42] {
    color: #1c4772;
    font-weight: bold;
    text-decoration: none; }
  .repo-features-list[_ngcontent-aeb-42]   h3[_ngcontent-aeb-42] {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0; }
  .repo-features-list[_ngcontent-aeb-42]   li[_ngcontent-aeb-42] {
    border: 1px solid #e9e9e9;
    margin-bottom: 1em;
    padding: 1em 1em 1em 2.5em;
    position: relative; }
    @media screen and (min-width: 40em) {
      .repo-features-list[_ngcontent-aeb-42]   li[_ngcontent-aeb-42] {
        margin-bottom: 0; } }
    .repo-features-list[_ngcontent-aeb-42]   li[_ngcontent-aeb-42]   .feature-icon[_ngcontent-aeb-42] {
      color: #23c0ba;
      left: 1em;
      position: absolute;
      top: 1em; }
  .repo-features-list[_ngcontent-aeb-42]   p[_ngcontent-aeb-42] {
    font-size: 0.95em;
    margin-top: 0; }

.repo-header-container[_ngcontent-aeb-42]   h1[_ngcontent-aeb-42] {
  margin: 0 0 0.25em; }

.repo-header-container[_ngcontent-aeb-42]   h3[_ngcontent-aeb-42] {
  font-weight: normal;
  margin: 0; }
  .repo-header-container[_ngcontent-aeb-42]   h3[_ngcontent-aeb-42]   a[_ngcontent-aeb-42] {
    color: #5b616b;
    font-size: 0.95em;
    text-decoration: none; }
    .repo-header-container[_ngcontent-aeb-42]   h3[_ngcontent-aeb-42]   a[_ngcontent-aeb-42]:hover {
      border-bottom: 3px solid #23c0ba;
      color: #323a45; }

.repo-header-container[_ngcontent-aeb-42]   p[_ngcontent-aeb-42] {
  font-size: 1em;
  margin: 0; }