html[_ngcontent-aeb-43] {
  box-sizing: border-box; }

*[_ngcontent-aeb-43], *[_ngcontent-aeb-43]::after, *[_ngcontent-aeb-43]::before {
  box-sizing: inherit; }

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeInUp {
  from {
    -moz-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -moz-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    -moz-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    -o-transform: translateY(0.5em);
    transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

body[_ngcontent-aeb-43] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

label[_ngcontent-aeb-43] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

a[_ngcontent-aeb-43]:focus {
  box-shadow: 0 0 3px rgba(50, 58, 69, 0.25), 0 0 7px rgba(50, 58, 69, 0.25);
  outline: 0; }

h1[_ngcontent-aeb-43], h2[_ngcontent-aeb-43], h3[_ngcontent-aeb-43], h4[_ngcontent-aeb-43], h5[_ngcontent-aeb-43]   h6[_ngcontent-aeb-43] {
  color: #323a45;
  font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500; }
  h1[_ngcontent-aeb-43]:first-child, h2[_ngcontent-aeb-43]:first-child, h3[_ngcontent-aeb-43]:first-child, h4[_ngcontent-aeb-43]:first-child, h5[_ngcontent-aeb-43]   h6[_ngcontent-aeb-43]:first-child {
    margin-top: 0; }

p[_ngcontent-aeb-43] {
  color: #5b616b; }
  @media screen and (min-width: 40em) {
    p[_ngcontent-aeb-43] {
      font-size: 1.1em; } }

.usa-button[_ngcontent-aeb-43], .usa-button.usa-button-big[_ngcontent-aeb-43], .usa-button-primary.usa-button-big[_ngcontent-aeb-43], .usa-button[_ngcontent-aeb-43]:visited.usa-button-big, .usa-button-primary[_ngcontent-aeb-43]:visited.usa-button-big, button.usa-button-big[_ngcontent-aeb-43], [type="button"].usa-button-big[_ngcontent-aeb-43], [type="submit"].usa-button-big[_ngcontent-aeb-43], [type="reset"].usa-button-big[_ngcontent-aeb-43], [type="image"].usa-button-big[_ngcontent-aeb-43] {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .usa-button[_ngcontent-aeb-43]:hover, .usa-button.usa-button-big[_ngcontent-aeb-43]:hover, .usa-button-primary.usa-button-big[_ngcontent-aeb-43]:hover, .usa-button[_ngcontent-aeb-43]:visited.usa-button-big:hover, .usa-button-primary[_ngcontent-aeb-43]:visited.usa-button-big:hover, button.usa-button-big[_ngcontent-aeb-43]:hover, [type="button"].usa-button-big[_ngcontent-aeb-43]:hover, [type="submit"].usa-button-big[_ngcontent-aeb-43]:hover, [type="reset"].usa-button-big[_ngcontent-aeb-43]:hover, [type="image"].usa-button-big[_ngcontent-aeb-43]:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px); }

.activity[_ngcontent-aeb-43] {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  padding: 0.5em; }
  @media screen and (min-width: 40em) {
    .activity[_ngcontent-aeb-43] {
      padding: 1em; } }

.activity[_ngcontent-aeb-43] {
  margin-bottom: 1em;
  padding-left: 3.5em;
  padding-right: 0.5em;
  position: relative; }
  @media screen and (min-width: 40em) {
    .activity[_ngcontent-aeb-43] {
      padding-left: 4.75em;
      padding-right: 1em; } }
  .activity[_ngcontent-aeb-43]   h3[_ngcontent-aeb-43] {
    font-size: 1em; }
    @media screen and (min-width: 40em) {
      .activity[_ngcontent-aeb-43]   h3[_ngcontent-aeb-43] {
        font-size: 1.25em; } }
  .activity[_ngcontent-aeb-43]   p[_ngcontent-aeb-43] {
    margin: 0; }
  .activity[_ngcontent-aeb-43]   .activity-icon[_ngcontent-aeb-43] {
    border: 2px solid #23c0ba;
    border-radius: 50%;
    left: 0.5em;
    padding: 0.4em 0.6em;
    position: absolute;
    text-align: center;
    top: 0.5em;
    vertical-align: middle; }
    @media screen and (min-width: 40em) {
      .activity[_ngcontent-aeb-43]   .activity-icon[_ngcontent-aeb-43] {
        left: 1em;
        padding: 0.75em 0.75em 0.7em;
        top: 1em; } }
    .activity[_ngcontent-aeb-43]   .activity-icon[_ngcontent-aeb-43]   i[_ngcontent-aeb-43] {
      color: #23c0ba;
      font-size: 1em;
      height: 1em;
      line-height: 0.85em;
      width: 1em; }
      @media screen and (min-width: 40em) {
        .activity[_ngcontent-aeb-43]   .activity-icon[_ngcontent-aeb-43]   i[_ngcontent-aeb-43] {
          font-size: 1.25em;
          line-height: 1em; } }
  .activity[_ngcontent-aeb-43]   .activity-content[_ngcontent-aeb-43] {
    min-height: 2.75em; }
    @media screen and (min-width: 40em) {
      .activity[_ngcontent-aeb-43]   .activity-content[_ngcontent-aeb-43] {
        min-height: 3.5em; } }
  .activity[_ngcontent-aeb-43]   .activity-heading[_ngcontent-aeb-43]::after {
    clear: both;
    content: "";
    display: block; }
  .activity[_ngcontent-aeb-43]   .activity-heading[_ngcontent-aeb-43]   div[_ngcontent-aeb-43] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .activity[_ngcontent-aeb-43]   .activity-heading[_ngcontent-aeb-43]   div[_ngcontent-aeb-43]:last-child {
      margin-right: 0; }
  .activity[_ngcontent-aeb-43]   .activity-heading[_ngcontent-aeb-43]   h3[_ngcontent-aeb-43] {
    margin-bottom: 0; }
  .activity[_ngcontent-aeb-43]   .date[_ngcontent-aeb-43] {
    font-size: 0.9em;
    text-align: right; }
  .activity[_ngcontent-aeb-43]   .message[_ngcontent-aeb-43] {
    font-size: 0.9em; }