html[_ngcontent-qdo-7] {
  box-sizing: border-box; }

*[_ngcontent-qdo-7], *[_ngcontent-qdo-7]::after, *[_ngcontent-qdo-7]::before {
  box-sizing: inherit; }

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeInUp {
  from {
    -moz-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -moz-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    -moz-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    -o-transform: translateY(0.5em);
    transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

body[_ngcontent-qdo-7] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

label[_ngcontent-qdo-7] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

a[_ngcontent-qdo-7]:focus {
  box-shadow: 0 0 3px rgba(50, 58, 69, 0.25), 0 0 7px rgba(50, 58, 69, 0.25);
  outline: 0; }

h1[_ngcontent-qdo-7], h2[_ngcontent-qdo-7], h3[_ngcontent-qdo-7], h4[_ngcontent-qdo-7], h5
h6[_ngcontent-qdo-7] {
  color: #323a45;
  font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500; }
  h1[_ngcontent-qdo-7]:first-child, h2[_ngcontent-qdo-7]:first-child, h3[_ngcontent-qdo-7]:first-child, h4[_ngcontent-qdo-7]:first-child, h5
h6[_ngcontent-qdo-7]:first-child {
    margin-top: 0; }

p[_ngcontent-qdo-7] {
  color: #5b616b; }
  @media screen and (min-width: 40em) {
    p[_ngcontent-qdo-7] {
      font-size: 1.1em; } }

.usa-button[_ngcontent-qdo-7], .usa-button.usa-button-big[_ngcontent-qdo-7], .usa-button-primary.usa-button-big[_ngcontent-qdo-7], .usa-button[_ngcontent-qdo-7]:visited.usa-button-big, .usa-button-primary[_ngcontent-qdo-7]:visited.usa-button-big, button.usa-button-big[_ngcontent-qdo-7], [type="button"].usa-button-big[_ngcontent-qdo-7], [type="submit"].usa-button-big[_ngcontent-qdo-7], [type="reset"].usa-button-big[_ngcontent-qdo-7], [type="image"].usa-button-big[_ngcontent-qdo-7] {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .usa-button[_ngcontent-qdo-7]:hover, .usa-button.usa-button-big[_ngcontent-qdo-7]:hover, .usa-button-primary.usa-button-big[_ngcontent-qdo-7]:hover, .usa-button[_ngcontent-qdo-7]:visited.usa-button-big:hover, .usa-button-primary[_ngcontent-qdo-7]:visited.usa-button-big:hover, button.usa-button-big[_ngcontent-qdo-7]:hover, [type="button"].usa-button-big[_ngcontent-qdo-7]:hover, [type="submit"].usa-button-big[_ngcontent-qdo-7]:hover, [type="reset"].usa-button-big[_ngcontent-qdo-7]:hover, [type="image"].usa-button-big[_ngcontent-qdo-7]:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px); }

.explore-code-content[_ngcontent-qdo-7] {
  background-color: #f6f6f6;
  padding: 0.75em 0 3em; }
  @media screen and (min-width: 40em) {
    .explore-code-content[_ngcontent-qdo-7] {
      padding: 2em 0 3em; } }

.explore-code-nav[_ngcontent-qdo-7] {
  background-color: #e4e4e4; }