html[_ngcontent-qdo-5] {
  box-sizing: border-box; }

*[_ngcontent-qdo-5], *[_ngcontent-qdo-5]::after, *[_ngcontent-qdo-5]::before {
  box-sizing: inherit; }

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeInUp {
  from {
    -moz-transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -moz-transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes fadeInUp {
  from {
    -webkit-transform: translateY(0.5em);
    -moz-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    -o-transform: translateY(0.5em);
    transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #23c0ba; } }

body[_ngcontent-qdo-5] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

label[_ngcontent-qdo-5] {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

a[_ngcontent-qdo-5]:focus {
  box-shadow: 0 0 3px rgba(50, 58, 69, 0.25), 0 0 7px rgba(50, 58, 69, 0.25);
  outline: 0; }

h1[_ngcontent-qdo-5], h2[_ngcontent-qdo-5], h3[_ngcontent-qdo-5], h4[_ngcontent-qdo-5], h5
h6[_ngcontent-qdo-5] {
  color: #323a45;
  font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500; }
  h1[_ngcontent-qdo-5]:first-child, h2[_ngcontent-qdo-5]:first-child, h3[_ngcontent-qdo-5]:first-child, h4[_ngcontent-qdo-5]:first-child, h5
h6[_ngcontent-qdo-5]:first-child {
    margin-top: 0; }

p[_ngcontent-qdo-5] {
  color: #5b616b; }
  @media screen and (min-width: 40em) {
    p[_ngcontent-qdo-5] {
      font-size: 1.1em; } }

.usa-button[_ngcontent-qdo-5], .usa-button.usa-button-big[_ngcontent-qdo-5], .usa-button-primary.usa-button-big[_ngcontent-qdo-5], .usa-button[_ngcontent-qdo-5]:visited.usa-button-big, .usa-button-primary[_ngcontent-qdo-5]:visited.usa-button-big, button.usa-button-big[_ngcontent-qdo-5], [type="button"].usa-button-big[_ngcontent-qdo-5], [type="submit"].usa-button-big[_ngcontent-qdo-5], [type="reset"].usa-button-big[_ngcontent-qdo-5], [type="image"].usa-button-big[_ngcontent-qdo-5] {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .usa-button[_ngcontent-qdo-5]:hover, .usa-button.usa-button-big[_ngcontent-qdo-5]:hover, .usa-button-primary.usa-button-big[_ngcontent-qdo-5]:hover, .usa-button[_ngcontent-qdo-5]:visited.usa-button-big:hover, .usa-button-primary[_ngcontent-qdo-5]:visited.usa-button-big:hover, button.usa-button-big[_ngcontent-qdo-5]:hover, [type="button"].usa-button-big[_ngcontent-qdo-5]:hover, [type="submit"].usa-button-big[_ngcontent-qdo-5]:hover, [type="reset"].usa-button-big[_ngcontent-qdo-5]:hover, [type="image"].usa-button-big[_ngcontent-qdo-5]:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px); }

.modal-container[_ngcontent-qdo-5] {
  -webkit-animation: fadeInUp 0.2s ease;
  -moz-animation: fadeInUp 0.2s ease;
  animation: fadeInUp 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #ffffff;
  left: 50%;
  margin-left: -16em;
  margin-top: -10em;
  width: 32em;
  padding: 3em 2em;
  position: fixed;
  text-align: center;
  top: 50%; }
  .modal-container[_ngcontent-qdo-5]   a[_ngcontent-qdo-5] {
    color: #1b9590; }
  .modal-container[_ngcontent-qdo-5]   button[_ngcontent-qdo-5] {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: transparent;
    color: #5b616b;
    padding: 0; }
    .modal-container[_ngcontent-qdo-5]   button[_ngcontent-qdo-5]:hover {
      background-color: transparent;
      color: #44484f; }
  .modal-container[_ngcontent-qdo-5]   h1[_ngcontent-qdo-5] {
    font-size: 1.75em; }
  .modal-container[_ngcontent-qdo-5]   .close[_ngcontent-qdo-5] {
    position: absolute;
    right: 1em;
    top: 1em; }
  .modal-container[_ngcontent-qdo-5]   .link-pretext[_ngcontent-qdo-5] {
    margin-bottom: 0.1em; }

.overlay[_ngcontent-qdo-5] {
  background-color: rgba(51, 60, 74, 0.75);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000; }